<template>
  <div class="p-6 lg:p-8 bg-white dark:bg-gray-800 dark:bg-gradient-to-bl dark:from-gray-700/50 dark:via-transparent">
    <h1 class="mt-8 text-2xl font-medium text-gray-900 dark:text-white">
      Game
    </h1>
    <p class="mt-6 text-gray-500 dark:text-gray-400 leading-relaxed">
      This is a simple Matrix Test??
    </p>
  </div>
    <div class="flex justify-center items-center">
      <div class="outline-none rounded-lg overflow-hidden p-2">
        <div class="matrix-rain bg-black rounded-lg overflow-hidden border-2 border-green-800 border-dotted">
          <canvas ref="canvas" width="1500" height="480"></canvas>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  mounted() {
    this.initializeMatrixRain();
  },
  methods: {
    initializeMatrixRain() {
      const canvas = this.$refs.canvas;
      const context = canvas.getContext('2d');
      const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';

      const streamLength = 25;
      const lineHeight = 20;
      let columnCount = Math.floor(canvas.width / streamLength);
      let rowCount = Math.floor(canvas.height / lineHeight);

      const streams = [];
      for (let i = 0; i < columnCount; i++) {
        streams[i] = Math.floor(Math.random() * rowCount);
      }

      const drawFrame = () => {
        context.fillStyle = 'rgba(0, 0, 0, 0.1)';
        context.fillRect(0, 0, canvas.width, canvas.height);
        context.fillStyle = '#00FF00';
        context.font = '14px Courier';

        for (let i = 0; i < columnCount; i++) {
          const stream = streams[i];
          const char = characters[Math.floor(Math.random() * characters.length)];

          context.fillText(char, i * streamLength, stream * lineHeight);

          if (stream * lineHeight > canvas.height && Math.random() > 0.975) {
            streams[i] = 0;
          }

          streams[i]++;
        }

        requestAnimationFrame(drawFrame);
      };

      const resizeHandler = () => {
        const { width, height } = canvas.getBoundingClientRect();
        canvas.width = width;
        canvas.height = height;
        columnCount = Math.floor(canvas.width / streamLength);
        rowCount = Math.floor(canvas.height / lineHeight);
        for (let i = 0; i < columnCount; i++) {
          if (streams[i] >= rowCount) {
            streams[i] = Math.floor(Math.random() * rowCount);
          }
        }
      };

      window.addEventListener('resize', resizeHandler);

      drawFrame();
    },
  },
  beforeUnmount() {
    window.removeEventListener('resize', this.resizeHandler);
  },
};
</script>

<style>
.matrix-rain {
  height: 480px;
}

canvas {
  display: block;
}
</style>
